@-webkit-keyframes shadow-inset-center{
  0% {-webkit-box-shadow:inset 0 0 0 0 transparent;
    box-shadow:inset 0 0 0 0 transparent;
  }
  100%{
    -webkit-box-shadow:inset 0 0 14px 0 rgba(0,0,0,.5);
    box-shadow:inset 0 0 14px 0 rgba(0,0,0,.5);
  }}
@keyframes shadow-inset-center{
  0%{
    -webkit-box-shadow:inset 0 0 0 0 transparent;
    box-shadow:inset 0 0 0 0 transparent;
  }
  100%{
    -webkit-box-shadow:inset 0 0 14px 0 rgba(0,0,0,.5);
    box-shadow:inset 0 0 14px 0 rgba(0,0,0,.5);
  }}

body {
  padding-top: 0.5rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: #1E1E1E;
}

header {
  min-width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  font-size: 2rem;
  display:flex;
  justify-content: space-evenly;
  box-shadow: 5px 2px 20px 0 rgba(45, 45, 45, 0.5);
}

.container {
  height: 90vh;
  max-width: 95rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  background: #e8f1f2;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card, .match {
  flex-basis: calc(100% / 6.5);
  height: 14.6rem;
  background: #394648;
  font-size: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transform: rotateY(0deg);
  transition: 0.25s ease;
  cursor: pointer;
}

.card:focus {
  animation: shadow-inset-center 1s;
}

.match {
  cursor: default;
  background-image: linear-gradient(
    to right,
  rgb(194, 255, 182),
  rgb(162, 209, 255),
  rgb(221, 169, 255),
  rgb(162, 146, 255),
  rgb(193, 211, 197)
  );
  background-size: 200%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 5rem;
  transform: rotateY(180deg);
 }

.card.flip {
  background-color: #8EC5FC;
  background-image: linear-gradient(0deg, #8EC5FC 0%, #E0C3FC 100%);
  font-size: 4rem;
  cursor: default;
  transform: rotateY(180deg);
  transition: 0.25s ease;
 }

/* ---------------- Desktop --------------------- */
@media (min-width: 500px) and (max-width: 1280px) {
  header {
    font-size: 1.25rem;
    height: 1.5rem;
  }
  .card, .match {
    flex-basis: calc(100% / 6.5);
    height: 14rem;
    margin-bottom: 0.25rem;
    border-radius: 10px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    header {
      font-size: 1rem;
      height: 1.25rem;
    }
    .match {
      font-size: 2.75rem;
    }
    .card.flip {
      font-size: 2rem;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .container {
      height: 610px;
      width: 300px;
      padding: 1rem;
    }
    .card, .match {
      flex-basis: calc(100% / 3.25);
      height: 93px;
      margin-bottom: 0.25rem;
      border-radius: 50%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .container {
      height: 310px;
      width: 610px;
      padding: 1rem;
    }
    .card, .match {
      flex-basis: calc(100% / 6.75);
      height: 91px;
      margin-bottom: 0.25rem;
      border-radius: 50%;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
      height: 2.5rem;
      font-size: 2rem;
    }
    .match {
      font-size: 3.75rem;
    }
    .card.flip {
      font-size: 3rem;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      height: 800px;
      width: 700px;
      padding: 1rem;
    }
    .card, .match {
      flex-basis: calc(100% / 7);
      height: 175px;
      margin: 0.025rem;
      border-radius: 7px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      height: 700px;
      width: 900px;
      padding: 1rem;
    }
    .card, .match {
      flex-basis: calc(100% / 6.75);
      height: 133px;
      margin-bottom: 0.25rem;
      border-radius: 50%;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}